<h3>Training</h3>

@inject Blazored.LocalStorage.ILocalStorageService localStorage
@inject MemContainer mem
@inject NavigationManager nav

@using Juoksulaskuri.Core.Models;

<PageTitle>Harjoitteluvauhdit</PageTitle>
<MudText Typo="Typo.h3" GutterBottom="true">Harjoitteluvauhdit</MudText>

@code {

}
